.list-members {
    padding-left: 0px;

    &__item {
        display: flex;
        list-style-type: none;
        margin-bottom: 10px;
        height: 100px;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid grey;
    }

    &__image-box {
        height: 100px;
        width: 100px;
        border-radius: 20px;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__description {
        margin-left: 30px;
    }

    &__name {
        font-size: 15px;
        font-weight: bold;
    }

    &__title {
        font-size: 15px;
    }
    &__btn {
       height: 30px;
       border-radius: 5px;
    }
}


@media ( min-width: 480px ) {
    .list-members {

        &__name {
            font-size: 20px;
            font-weight: bold;
        }
    }
}